 .card img {
    width: 50%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
 }
body{
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.card{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.card>div{
    background-color: white;
    height: 60vh;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    
    
}
.container {
    max-width: 1500px;
    margin: 0 auto;
}

.personnal {
    background-color: #3498db;
    color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.card h2{
    color: #3796DA;
}
.footer {
    align-items: center;
    text-align:  center;
    color: #B9BABA;
}

